{% extends "main.html" %}
{% block title %}修改主机组{% end %}
{% block content %}
<form action="" class="form-horizontal" method="post">
	<fieldset>
		<div class="control-group">
			<label class="control-label">主机组ID </label>
			<div class="controls">
				<input type="text" class="span6" id="hgu_id" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">主机组名 </label>
			<div class="controls">
				<input type="text" class="span6" id="hgu_name" />
			</div>
		</div>
		<div class="form-actions">
			<button type="button" class="btn btn-primary" id="hgu_button"><i class="icon-ok icon-red"></i> 修改主机组</button>
		</div>
	</fieldset>
</form>
{% end %}
{% block script %}
	<script>
		$("#hgu_button").click(function(){
			if (!$("#hgu_name").val() || !$("#hgu_id").val()){
				alert("主机组ID、主机组名不能为空!!!");
				return false;
			}
			var thing = {groupid: $("#hgu_id").val(), name: $("#hgu_name").val()};
			$.post("/zabbix/hostgroup/update",
				{_xsrf: getCookie("_xsrf"), params: jQuery.toJSON(thing), time: new Date()},
				function(msg) {
					var obj = jQuery.parseJSON(msg);
					if ( typeof obj == 'string' ){
						alert(obj);
					}else{
						alert("主机组: ID为"+obj.groupids+"的主机组的组名修改为:"+$("#hgu_name").val());
					}
			});
		});
	</script>
{% end %}