{% extends "main.html" %}
{% block title %}查询模板{% end %}
{% block content %}
<table class="table">
    <thead>
	<tr>
	    <th>模板ID</th>
	    <th>模板名</th>
	    <th>模板别名</th>
	    <th>简介</th>
	</tr>
    </thead>
    <tbody id="echotemplate">
    </tbody>
</table>
{% end %}
{% block script %}
    <script>
	layer.load(2);
	$.post("/zabbix/template/get",
		{_xsrf: getCookie("_xsrf"), params: '{"output": "extend"}', time: new Date()},
		function(msg) {
			layer.closeAll('loading');
			var txt = "";
			var obj = jQuery.parseJSON(msg);
			$.each(obj,function(idx,item){
				txt += "<tr><td>" + item.templateid + "</td><td>" + item.host + "</td><td>" + item.name + "</td><td>" + item.description + "</td></tr>";
				$("#echotemplate").html(txt);	
			});
	});
    </script>
{% end %}
